header
{
	margin-bottom: 30px;
}

.header
{
	display: flex;
	justify-content: space-between;

}

.inscrireConnect
{
	align-self:flex-end;
}

.Connection_goup_submit_souvenirMoi_mdpOublié
{
	display: flex;
}

.Connection_group_souvenirMOi_mdpOublié
{
	margin-left: 20px;
}

.Connection_boutonInscription
{
	margin-top: 20px;
}

.InscriptionTitre {
	margin-top : 30px;
}
.InscriptionContenu {
	margin-top : 45px;
}
.InscritpionDivGauche {
	margin-right : 25px;
}

.InscriptionBouttons {
	margin-top : 30px;
	display : flex;
	justify-content : center;
	
}
.Inscriptiondivbtna {
	margin-right : 20px;
}
.ProfilListeInfo {
	text-decoration : none;
}
