header
{
	margin-bottom: 30px;
}

.header
{
	display: flex;
	justify-content: space-between;

}

.inscrireConnect
{
	align-self:flex-end;
}

.Connection_goup_submit_souvenirMoi_mdpOublié
{
	display: flex;
}

.Connection_group_souvenirMOi_mdpOublié
{
	margin-left: 20px;
}

.Connection_boutonInscription
{
	margin-top: 20px;
}